<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="html-commons/meta :: fg-meta"></th:block>
    <th:block th:insert="html-commons/css  :: fg-css"></th:block>

    <title>SignOn</title>
</head>
<body>

<!-- HEADER -->
<div th:replace="html-commons/header :: fg-header"></div>
<!-- END HEADER -->

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<div th:replace="html-commons/left-panel :: fg-left-panel"></div>


<div id="main" role="main">
    <div id="content">

    </div>

</div>
<!-- PAGE FOOTER -->
<div th:replace="html-commons/footer :: fg-footer"></div>

<div th:replace="html-commons/loading :: fg-loading"></div>


<!-- END PAGE FOOTER -->
<!-- IMPORTS JAVASCRIPT -->
<script th:replace="html-commons/js :: fg-js"/>

</body>
</html>